

body { background: #A9A9A9 !important; }

.MyPic {
  float: right;
}

img {
  width: 40%;
  height: 40%;
  border: 2px solid;
  border-radius: 50%;
}

h1 {
  font-weight: bold;
  font-size: 150%;
  font-style: italic;
}
